{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
<!--             <p>I am a software developer from Cupertino. I currently live in New York City where I&#8217;m a graduate student at the Courant Institute of Mathematical Sciences. Prior to NYU I worked for several years as a technical writer and studied math at the University of Rochester. I spend a lot of time listening to jazz, riding bikes, and eating Mexican food.</p>
            <br/>
            <p>I hope to eventually use this space as a blog to share my thoughts. Stay tuned!</p> -->
            <p>I am a software developer from Cupertino, currently living in New York City.</p>
            <br/>
            <p>I hope to eventually use this space as a blog to share my thoughts. Stay tuned!</p>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

